.first {
  background: #f6edfa;
  color: #87459e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.second {
  background: #f6edfa;
  color: #87459e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.third {
  background: #f6edfa;
  color: #87459e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.productBottom {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 2rem 2rem 2rem;
}
h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #87459e;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 2rem;
}

@media only screen and (max-width: 800px) {
  h3 {
    font-weight: 500;
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
    margin: 0rem 1rem;
  }
}
