.searchbar {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background: #ffffff;
  border: none;
  flex-grow: 1;
  /* margin-top: 1rem; */
  height: 100%;
}

.toolbar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 220px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.toolbar h2 {
  line-height: 18.23px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.farRight {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.drawerHead {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.drawerHead img {
  position: absolute;
  z-index: -1;
  left: -12px;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  align-items: center;
}

.logout {
  display: flex;
  right: 2rem;
  margin-top: 10rem;
}

.toolbarRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.menu__icons {
  display: none;
}
.drawer {
  display: contents;
}

.active {
  background: #f6edfa;
}

@media only screen and (max-width: 800px) {
  .toolbar {
    margin-left: 5px;
  }
  .active {
    background: #f6edfa;
  }

  .date {
    display: none;
  }

  .farRight {
    margin-left: 0.5rem;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }

  .toolbarRight {
    display: flex;
    flex-direction: row;

    align-items: center;
  }

  .toolbarH2 {
    display: flex;
    flex-direction: row;
    color: black;
    align-items: flex-start;
    margin: 0;
    font-size: 11px;
  }

  .menu__icons {
    display: flex;
  }
}
